.APODContainer {
  border: 2px solid black;
  padding: var(--spacing);
  margin: var(--spacing);
}

.APODContainer button {
  background: #2ecc71;
  color: white;
  padding: var(--spacing);
  border-radius: 5px;
  border: none;
  font-size: 20px;
}

.APODContainer span {
  font-weight: bold;
}

.APODimg {
  /* border: 2px dashed var(--font); */
  border-style: none;
  height: 300px;
  width: 300px;
}
