button {
  background: #2ecc71;
  /* color: white; */
  padding: var(--spacing);
  /* margin: var(--spacing); */
  border-radius: 5px;
  border: none;
}

.inkey-btn {
  color: white;
  margin: 15px;
  font-size: 24px;
}
